## Final Project Submission

- **Student name**: Timothy Sila Kamwilwa 
- **Student pace**:Part-time
- **Scheduled project review date/time**: 29/04/2025
- **Instructor name**: Maryann Mwikali
- **Blog post URL**:

## PROJECT OVERVIEW

This project aims to help a company that is considering entering the aviation business by identifying which aircraft models are involved in fewer accidents. By examining historical aviation accident data, we will analyze the types of aircraft, causes of accidents, and other key factors to support decision-making.

### Business Understanding

The company plans to buy aircraft for both private and commercial use. However, they are concerned about safety risks. Our analysis will guide them in selecting aircraft types with the lowest accident records.

### Data Understanding

We will use a dataset from the National Transportation Safety Board (NTSB), which includes summaries of aviation accidents in the United States and surrounding areas, from 1962 to 2023. The dataset is available on Kaggle.

**Source**: Kaggle - Aviation Accident Database https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses

In [13]:
# Import necessary library
import pandas as pd

# Load the aviation accident data
# 'low_memory=False' helps prevent data type warnings
df = pd.read_csv('./Aviation_Data.csv', encoding='latin1', low_memory=False) 

# Display the first few rows of the dataset
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Data exploration
We begin by conducting an initial exploration of our dataset, stored in the dataframe df. This step is essential for gaining a foundational understanding of the data’s structure, data types, and overall characteristics.

Below is a structured summary of our preliminary findings, including notable issues encountered.

In [14]:
# Check the shape of the dataset (rows, columns)
df.shape

(88889, 31)

In [15]:
# Get column names and their data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [16]:
# Count missing values in each column
df.isnull().sum().sort_values(ascending=False)

Schedule                  76307
Air.carrier               72241
FAR.Description           56866
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Publication.Date          13771
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Registration.Number        1382
Injury.Severity            1000
Country                     226
Amateur.Built               102
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

### Dataset Exploration Summary

After loading the dataset, we conducted a basic inspection to understand its structure:

- **Size**: The dataset contains **90,348 records** and **31 columns**. Some columns, like `Model`, have missing entries (e.g., 1,551 nulls).
- **Data Types**: There are **5 columns with numeric data (float)** and **26 columns with string or categorical data (object)**.
- **Memory Usage**: The dataset uses about **21.4 MB** of memory, which is manageable for analysis. There's no immediate need for optimization or downcasting.

Next, we will proceed with cleaning the data to make it ready for analysis.

## Cleaning the Data
We’ll start by handling:

Unnecessary columns

Missing values

Duplicates

# Drop Unnecessary Columns
Some columns in the dataset are likely irrelevant for our analysis (like investigation IDs, etc.). Let’s check them first:

In [17]:
# Show all column names
df.columns.tolist()

['Event.Id',
 'Investigation.Type',
 'Accident.Number',
 'Event.Date',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Airport.Code',
 'Airport.Name',
 'Injury.Severity',
 'Aircraft.damage',
 'Aircraft.Category',
 'Registration.Number',
 'Make',
 'Model',
 'Amateur.Built',
 'Number.of.Engines',
 'Engine.Type',
 'FAR.Description',
 'Schedule',
 'Purpose.of.flight',
 'Air.carrier',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured',
 'Weather.Condition',
 'Broad.phase.of.flight',
 'Report.Status',
 'Publication.Date']

In [19]:
# Drop irrelevant or less useful columns for this analysis
columns_to_drop = ['Event.Id', 'Publication.Date', 'Narrative']
df.drop(columns=[col for col in columns_to_drop if col in df.columns], inplace=True)

In [20]:
columns_to_drop = ['Event.Id', 'Publication.Date', 'Narrative']

In [22]:
# Drop irrelevant or less useful columns for this analysis
columns_to_drop = ['Event.Id', 'Publication.Date', 'Narrative']
df.drop(columns=[col for col in columns_to_drop if col in df.columns], inplace=True)

In [24]:
# Drop irrelevant or less useful columns for this analysis
df.drop(columns=[col for col in columns_to_drop if col in df.columns], inplace=True)

In [25]:
# Drop rows with missing critical information
df.dropna(subset=['Make', 'Model', 'Aircraft.Category'], inplace=True)

In [27]:
# Optionally fill missing weather with 'Unknown'
df['Weather.Condition'].fillna('Unknown', inplace=True)